body {
    background-color: #fa8072; /* cor salmão */
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #000;
}

button {
    background-color: #4CAF50; /* verde bonito */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#resultado img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}